{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "tabWidth": 4,
  "useTabs": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 99,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false,
        "singleQuote": false,
        "semi": true
      }
    }
  ]
}
